<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    
</head>

<body>
    {{>header}} 
    <p>Created by {{name}}</p>
    <img style="width:100px;height:100px" src="/img/t1.jfif">
    {{>footer}}

</body>

</html>